.paginated input{
    margin: 12px;
    background-color: chartreuse;
}
.paginated input:focus{
    background-color: black;
    border: 1px chartreuse solid;
    color: antiquewhite;
}

.paginated input:hover{
    background-color: green;
    color: aqua;
}

.paginated .active{
    background-color: rgb(7, 87, 7);
    color: antiquewhite;
    border: 1px solid greenyellow;
}