.detail{
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    border: 2px solid greenyellow;
    padding: 20px;
    text-align: center;
}

.detail img{
    width: 50%;
    border-radius: 14px;
    margin-left: 25%;
}

.detail button{
    display: flex;
    flex-direction: row;
    width: 80px;
    margin: 4px;
    margin-left: 80%;
    background-color: rgba(128, 255, 0, 0.523);
    border-radius: 12px;
    text-align: center;
    color: antiquewhite;

}

.detail button:hover{
    background-color: black;
    color: antiquewhite;
    border: 1px greenyellow solid;
}