.nav{
    background-image: url('../../image/Culinaria.jpg');
    border: 12px solid black;
    height: 650px;
}
.nav h1{
    color: chartreuse;
}
.nav button{
    background-color: chartreuse;
    margin: 8px;
    padding: 4px;
    border-radius: 8px;
}
.nav button:hover{
    background-color: rgb(120, 160, 105);
    color: antiquewhite;
    border: greenyellow;
}